.main
{
	width: 900px;
}
.wrapper
{
	margin-left:auto;
	margin-right:auto;
	width:900px;
}
.right
{
	width:290px;
	float:right;
}
.content
{
	float:left;
	width:590px;
}
.footer
{
	clear:both;
	width:900px;
}

.chart
{
	width:300px;
	height:300px;
}

.ui-widget
{
	font-size:12px;
}

.ui-tabs .ui-tabs-hide
{
	position: absolute;
	left:-10000px;
}